@charset "utf-8";
/* CSS Document */
/* jQuery lightBox plugin - Gallery style */
/*  This layout is for sample purposes
    Feel free to edit it to suit your needs
*/
.lbGallery {
		background-color: #fff;
		padding: 10px;
		width: 800px;
		margin:auto auto;
	}
	.lbGallery ul { list-style: none; }
	.lbGallery ul li { display: inline; }
	.lbGallery ul img {
		border: 1px solid #FFC;
		border-width: 1px;
		
	}
	.lbGallery ul a:hover img {
		border: 5px solid #fff;
		border-width: 5px 5px 20px;
		color: #FFF;
	}
	.lbGallery ul a:hover { color: #fff; }
	
	
	
.lbGallery1 {
		background-color: #fff;
		padding: 10px;
		width: 800px;
		margin:auto auto;
	}
	.lbGallery1 ul { list-style: none; }
	.lbGallery1 ul li { display: inline; }
	.lbGallery1 ul img {
	border: 1px solid #FFC;
		border-width: 1px;
		
	}
	.lbGallery1 ul a:hover img {
		border: 5px solid #000;
		border-width: 1px;
		color: #fff;
	}
	.lbGallery1 ul a:hover { color: #FFF; }
